<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717405069994-lt1t5rmo9cbk3lkl1jquaut02s3g45fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717405069994-lt1t5rmo9cbk3lkl1jquaut02s3g45fa</string>
	<key>API_KEY</key>
	<string>AIzaSyD73yp02fwF4X3qbE-ojx-brlXytj7x3vI</string>
	<key>GCM_SENDER_ID</key>
	<string>717405069994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tu.ac.student.6110613152.BubbleTea</string>
	<key>PROJECT_ID</key>
	<string>bubble-tea-app-3a1f8</string>
	<key>STORAGE_BUCKET</key>
	<string>bubble-tea-app-3a1f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717405069994:ios:5b5237bd5f246c8d8d66d3</string>
</dict>
</plist>